.graph-container{
    padding-top: 50px;
    max-width: 100%;
    height: 70%;
}
.grid-container{
    display:flex;
    flex-direction: column;
    padding: 20px;
}

.grid-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    backround-color: blue;
}

.cell {
    border: 1px solid darkgrey;
    width: 30px;
    height:30px;
}
